{# feature image of the post #}
{% macro header() %}
    <div class="card-header mb-35">
        <img class="img-fluid" src="https://via.placeholder.com/1100x425" alt="">
    </div>
{% endmacro header %}


{# content of the post #}
{% macro content(post) %}
    <div class="card-body">
        {% if post.categories.values is not empty %}
            <p class="mb-30 categories">
                {% for key, category in post.categories.values %}
                    <a href="{{ path('blog.category.index', {id: category.id, slug: category.slug}) }}">{{ category.title }}</a>{% if key != (post.categories.values | length - 1) %}{{', '}}{% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <a class="d-block card-title mb-35" href="{{ path('blog.show', {id: post.id, slug: post.slug}) }}">
            <h2>{{ post.title | capitalize }}</h2>
        </a>
        <p class="card-text">{{ post.content | truncate(250, true) | nl2br }}</p>
        <p class="card-muted my-35">Written on {{ post.createdAt | date("d F Y") }}</p>
        <a class="btn btn-primary" href="{{ path('blog.show', {id: post.id, slug: post.slug}) }}">see more</a>
    </div>
{% endmacro content %}