{# feature image of the post #}
{% macro header(imgSrc, class) %}
    <div class="card-header {{ class }}">
        <img class="img-fluid" src="{{ imgSrc }}" alt="">
    </div>
{% endmacro header %}


{# content of the post #}
{% macro content(post) %}
    <div class="card-body">
        {% if post.categories.values is not empty %}
            <p class="mb-30 categories">
                {% for key, category in post.categories.values %}
                    <a href="{{ path('blog.category', {id: category.id, slug: category.slug}) }}">{{ category.title }}</a>{% if key != (post.categories.values | length - 1) %}{{', '}}{% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <a class="d-block card-title mb-2" href="{{ path('blog.show', {id: post.id, slug: post.slug}) }}">
            <h2>{{ post.title | capitalize }}</h2>
        </a>
        <p class="card-muted mb-35">
            {% if post.comments | length is same as (0) %}
                {{ 'No comments' }}
            {% elseif post.comments | length is same as (1) %}
                {{ post.comments | length ~ " comment" }}
            {% else %}
                {{ post.comments | length ~ " comments" }}
            {% endif %}
        </p>
        <p class="card-text">{{ post.content | truncate(250, true) | nl2br }}</p>
        <p class="card-muted my-35">
            Written by
            <a href="{{ path('blog.user', {id: post.user.id, slug: post.user.slug}) }}">{{ post.user.slug }}</a>
            on {{ post.createdAt | date("d F Y") }}
        </p>
        <a class="btn btn-primary" href="{{ path('blog.show', {id: post.id, slug: post.slug}) }}">see more</a>
    </div>
{% endmacro content %}