{% extends 'admin/base-admin.html.twig' %}
{% import 'macro/global.html.twig' as global %}

{% block title %}{{ parent() ~  " | Administration of categories" }}{% endblock %}

{% block body %}
    {{ global.pageTitle("Administration of categories") }}

    {# flash message #}
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <p class="alert alert-{{ label }} mt-5">
                {{ message }}
            </p>
        {% endfor %}
    {% endfor %}

    <a class="btn btn-outline-primary my-5" href="{{ path('admin.category.new')}}">Add a new category</a>

    <div class="admin-list">
        {% if categories is not empty %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for category in categories %}
                        <tr>
                            <th scope="row">{{ category.id }}</th>
                            <td>{{ category.title | capitalize }}</td>
                            <td>
                                <a class="btn btn-outline-success rounded" href="{{ path('admin.category.update', {id: category.id}) }}">Update</a>
                                <form method="post" action="{{ path('admin.category.delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this category ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                                    <button class="btn btn-outline-danger rounded" >Delete</button>
                                </form>                            
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ global.pagination(categories) }}
        {% else %}
            <div class="text-center alert alert-danger">
                <h4 class="text-center">No categories available</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}
